@import "../bower_components/bootstrap/less/bootstrap.less";

@font-face {
  font-family: 'Geomanist-Regular';
  src: url('fonts/Geomanist-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
.scene {
  padding: 0;
  margin: 0;
  margin-top: -20%;

}

.aspect {
  opacity: 0.2;
}


.layer:nth-child(1) button {
  -webkit-transform: rotate(150deg);
}


.layer:nth-child(2) button {
  -webkit-transform: rotate(120deg);
}


.layer:nth-child(3) button {
  -webkit-transform: rotate(90deg);
}


.layer:nth-child(4) button {
  -webkit-transform: rotate(60deg);
}


.layer:nth-child(5) button {
  -webkit-transform: rotate(30deg);
}

.layer:nth-child(6) {
  opacity: 0.90;
}
.layer:nth-child(6) button {
}

/* Style for our header texts
* --------------------------------------- */
h1{
  font-size: 5em;
  font-family: arial,helvetica;
  color: #fff;
  margin:0;
  padding:0;
}

#card{
  opacity: 0;}
/* Centered texts in each section
* --------------------------------------- */
.section{
  text-align:center;
  background-size: cover;
}
.slide{
  background-size: cover;
}
p{
  color: #FFFFFF;
  line-height: 19px;
  letter-spacing: 5px;
  font-size: 16px;
  font-family: 'Geomanist-Regular';
  font-weight: 400;
  text-align: left;
}
.element{
  color: #2DE9A1;
  line-height: 19px;
  letter-spacing: 5px;
  font-size: 16px;
  font-family: 'Geomanist-Regular';
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  height: 20px;
}

.typer{opacity: 0;}
/* Defining each section background and styles
* --------------------------------------- */
#section0{
  background-image: url(../assets/bg1.jpg);
  //padding: 30% 0 0 0;

  .overlay{
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAF0lEQVQIW2NkQAKMUPZ/BgYGRhgHLAYAEnEBBHGlZskAAAAASUVORK5CYII=) repeat;
    width: 100%;height: 100%;position: absolute;z-index: 1
  }
}
#section2{
  //background-image: url(../assets/slide2_bg.jpg);
  background-image: url(../assets/100x100TexTile.jpg);
  background-repeat:repeat;
  padding: 6% 0 0 0;
  z-index: 2;
  .crystalClump{
    margin-top: 35%;
  }

  .main-text{
    margin-top: 35%;
  }



  .crystal1Item{
    left: 20%!important;
    margin-top: 27%;
    .crystal{
    }
  }

  .crystal2Item{
    left: 22%!important;
    margin-top: 25%;
    .crystal{
    }
  }
  .crystal3Item {
      left: 50%!important;
    margin-top: 35%;
      .crystal{
      width: 80px;
      height: auto;
    }
  }
}

#section1{
  background-image: url(../assets/03a.jpg);
  padding: 6% 0 0 0;
  animation-name: scaleIt;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#section1outer{
  overflow: hidden;
  z-index: 2;
  .child{
    .rotateMinusNinety{transform:rotate(-118deg);}
  }
  .small-ball{
    width: 68%;
  }
  .main-text{
    padding-top: 110px;
  }
  .top-ball{
    padding-top: 82px;
  }
  .copy{
    top: 20%;
    .main {
      color: #2DE9A1;
      line-height: 30px;
      letter-spacing: 5px;
      font-size: 25px;
      font-family: 'Geomanist-Regular';
      font-weight: 400;
    }
    .sub {
      color: #FFFFFF;
      line-height: 19px;
      letter-spacing: 5px;
      font-size: 16px;
      font-family: 'Geomanist-Regular';
      font-weight: 400;
      text-align: right;
    }
  }
}

#section3 h1{
  color: #000;
}


/*Adding background for the slides
* --------------------------------------- */
#slide1{
  background-image: url(../assets/bg2.jpg);
  padding: 6% 0 0 0;
}
#slide2{
  background-image: url(../assets/bg5.jpg);
  padding: 6% 0 0 0;
}


.child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.splat{
  top: 35%;
  left: 55%;
}
.myLayer {
  position: absolute;

}
.myLayer1 {
  z-index: 10;
}

.myLayer2 {
  z-index: 20;
}

.clr-pad{
  padding: 0px;
}
.pad-top-md{
  padding-top: 160px;
}
body {
  background-color: #F2EEDF;
}

.ball {
  animation-name: bounce;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.shadow {
  position: absolute;
  z-index: 0;
  left: 50%;
  border-radius: 50%;
  bottom: -33px;
  animation-name: shadowBounce;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;

}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-10%);
  }
  100%{
    -webkit-transform: translateY(0%);
  }
}

@-webkit-keyframes shadowBounce {
              0%{
                width: 19%;
                height: 20px;
                margin-left: -51px;
                background: rgba(0, 0, 0, 0.1);
                box-shadow: 0px 0 2px 4px rgba(20, 20, 20, 0.1);
              }

        100% {
               width: 30%;
               height: 15px;
               margin-left: -54px;
               background: rgba(0, 0, 0, 0.15);
               box-shadow: 0px 0 2px 4px rgba(20, 20, 20, 0.17);
              }
            }

@-webkit-keyframes bounce-shadow {
  0%, 100% {
    top: 180px;
    width: 160px;
    height: 80px;
    border-radius: 80px / 40px;
    margin-left: -80px;
    box-shadow: 0 120px 0px 0px rgba(0, 0, 0, 0.8);
  }
  50% {
    top: 135px;
    width: 90px;
    height: 45px;
    border-radius: 45px / 22.5px;
    margin-left: -45px;
    box-shadow: 0 190px 90px 0 rgba(0, 0, 0, 0.6);
  }
}

@keyframes scaleIt {
  from {transform: scale(1,1);}
  to {transform: scale(1.3,1.3);}
}

#myVideo{
  position: absolute;
  right: 0;
  bottom: 0;
  top:0;
  right:0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-color: black; /* in case the video doesn't fit the whole page*/
  background-position: center center;
  background-size: contain;
  object-fit: cover; /*cover video background */
  z-index:0;
}

.svgHolder {
  margin-top: 550px;
}

.typed-cursor{
  opacity: 1;
  color: #ffffff;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

#cursor {
  display: block;
  position: absolute;
  margin-top: -14px;
  margin-left: -14px;
  /*margin: 140px;*/
  z-index: 99;
  text-align: center;
}

.over {
  float: right;
  overflow: visible;
  position: relative;
  width: 40px;
  z-index: 1000;
  margin-top: -40px;
}
.under {
  width:40px;
  height:40px;
}

.nudge_left{
  margin-left: -40px;
}

/*no menu*/
.nomenu svg{
  -webkit-transform:rotate(0deg) translate(0, 0);
  -moz-transform: rotate(0deg) translate(0, 0);
  -ms-transform: rotate(0deg) translate(0, 0);
  -o-transform: rotate(0deg) translate(0, 0);
  transform: rotate(0deg) translate(0 0);
  -webkit-transition: all 0.3s ease-in; /* Changed here */
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.nomenu svg :first-child{
  opacity: 1;
  -webkit-transition: all 0.3s ease-in; /* Changed here */
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.nomenu svg :nth-child(8){
  opacity: 1;
  -webkit-transition: all 0.3s ease-in; /* Changed here */
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.nomenu svg :nth-child(7){
  opacity: 1;
  -webkit-transition: all 0.3s ease-in; /* Changed here */
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.nomenu svg :nth-child(6){
  opacity: 1;
  -webkit-transition: all 0.3s ease-in; /* Changed here */
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.nomenu svg :nth-child(5){
  opacity: 1;
  -webkit-transition: all 0.3s ease-in; /* Changed here */
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.nomenu svg :nth-child(3){
  opacity: 1;
  -webkit-transition: all 0.3s ease-in; /* Changed here */
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.nomenu svg :nth-child(2){
  transform-origin: center;
  transform: rotate(0deg) translate(0px,0px);
  -moz-transform: rotate(0deg) translate(0px,0px);
  -webkit-transition: all 0.3s ease-in; /* Changed here */
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.nomenu svg :nth-child(4){
  transform-origin: center;
  transform: rotate(0deg) translate(0px,0px);
  -moz-transform: rotate(0deg) translate(0px,0px);
  -webkit-transition: all 0.3s ease-in; /* Changed here */
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.nomenu svg :nth-child(9){
  transform: rotate(0deg);
  transform-origin: center;
  -webkit-transition: all 0.3s ease-in; /* Changed here */
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.nomenu svg :nth-child(11){
  transform: rotate(0deg);
  transform-origin: center;
  -webkit-transition: all 0.3s ease-in; /* Changed here */
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.nomenu svg :nth-child(10){
  transform: rotate(0deg);
  transform-origin: center;
  -webkit-transition: all 0.3s ease-in; /* Changed here */
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.nomenu svg :nth-child(12){
  transform: rotate(0deg);
  transform-origin: center;
  -webkit-transition: all 0.3s ease-in; /* Changed here */
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
/*menu*/
.menu svg{
  -webkit-transform:rotate(0deg) translate(0, 0);
  -moz-transform: rotate(0deg) translate(0, 0);
  -ms-transform: rotate(0deg) translate(0, 0);
  -o-transform: rotate(0deg) translate(0, 0);
  transform: rotate(0deg) translate(0 0);
  -webkit-transition: all 0.3s ease-in; /* Changed here */
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.menu svg :first-child{
  opacity: 0;
  -webkit-transition: all 0.3s ease-in; /* Changed here */
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.menu svg :nth-child(8){
  opacity: 0;
  -webkit-transition: all 0.3s ease-in; /* Changed here */
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.menu svg :nth-child(7){
  opacity: 0;
  -webkit-transition: all 0.3s ease-in; /* Changed here */
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.menu svg :nth-child(6){
  opacity: 0;
  -webkit-transition: all 0.3s ease-in; /* Changed here */
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.menu svg :nth-child(5){
  opacity: 0;
  -webkit-transition: all 0.3s ease-in; /* Changed here */
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.menu svg :nth-child(3){
  opacity: 0;
  -webkit-transition: all 0.3s ease-in; /* Changed here */
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.menu svg :nth-child(2){
  transform-origin: center;
  transform: rotate(-30deg) translate(10px,-12px);
  -moz-transform: rotate(-30deg) translate(0px,-19px);
  -webkit-transition: all 0.3s ease-in; /* Changed here */
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.menu svg :nth-child(4){
  transform-origin: center;
  transform: rotate(-30deg) translate(-11px,9px);
  -moz-transform: rotate(-30deg) translate(0px,-19px);
  -webkit-transition: all 0.3s ease-in; /* Changed here */
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.menu svg :nth-child(9){
  transform: rotate(-30deg);
  transform-origin: center;
  -webkit-transition: all 0.3s ease-in; /* Changed here */
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.menu svg :nth-child(11){
  transform: rotate(-30deg);
  transform-origin: center;
  -webkit-transition: all 0.3s ease-in; /* Changed here */
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.menu svg :nth-child(10){
  transform: rotate(30deg);
  transform-origin: center;
  -webkit-transition: all 0.3s ease-in; /* Changed here */
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.menu svg :nth-child(12){
  transform: rotate(30deg);
  transform-origin: center;
  -webkit-transition: all 0.3s ease-in; /* Changed here */
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

#menu svg :nth-child(1),#menu svg :nth-child(3){
  transform: rotate(-30deg);
  transform-origin: center;
}

#menu svg :nth-child(2),#menu svg :nth-child(4){
  transform: rotate(30deg);
  transform-origin: center;
}

#menu svg :nth-child(6){
  transform-origin: center;
  transform: rotate(-30deg) translate(10px,-12px);
  -moz-transform: rotate(-30deg) translate(0px,-19px);
}

#menu svg :nth-child(5){
  transform-origin: center;
  transform: rotate(-30deg) translate(-11px,9px);
  -moz-transform: rotate(-30deg) translate(0px,-19px);
}

.vert-menu-line{
  width: 1px;
  height: 40px;
  background-color: grey;
  -webkit-transition: all 0.3s ease-in; /* Changed here */
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.vert-menu-line.two{
  margin-left:-64px;
}
.vert-menu-line.three{
  margin-left:-127px;
}

nav.open .vert-menu-line.two{
  -webkit-animation: killMarginL 1s forwards;
  -webkit-animation-delay: 2s;
}

nav.open .vert-menu-line.three{
  -webkit-animation: killMarginL 1s forwards;
  -webkit-animation-delay: 2s;
}


nav.open li{
  -webkit-animation: fadein 1s forwards;
  -webkit-animation-delay: 3s;
}

nav.open{
  /*transform-origin: bottom left;*/
  -webkit-animation: rotater 1s forwards, mymove 1s forwards;
  -webkit-animation-delay: 0s, 1s;
}
#cursor.open{
  animation: minusNinety 1s forwards,fadeout 1s forwards,fadein 1s forwards;
  -webkit-animation-delay: 0s, 1s,2s;
}
@keyframes killMarginL {
  100%  {margin-left: 0;}
}

@keyframes minusNinety {
  100%  {transform: rotate(-90deg);}
}

@keyframes fadeout {
  100%  {opacity: 0;}
}

@keyframes fadein {
  100%  {opacity: 1;}
}

/* Standard syntax */
@keyframes rotater {
  100%  {transform: rotate(0deg);}
}

@keyframes mymove {
  100%  {top: 10px;left:10px}
}

nav {

  width: 500px;
  height: 40px;
  position: absolute;
  /*top: 10px;*/
  /*left: 10px;*/
  transform: rotate(90deg);
  transform-origin: 20px 20px;
  -webkit-transition: transform 0.3s ease-in; /* Changed here */
  -moz-transition: transform 0.3s ease-in;
  -o-transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
}

/* list styles */
nav ul {
  width: 500px;
  margin: 0px auto;
  overflow: auto;
  list-style: none;
  padding: 0;
}

nav li {
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  font-weight:300;
  float: left;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in; /* Changed here */
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

nav li:last-child {
  border: none;
}

nav li a {
  text-decoration: none;
  color: #888;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
}

nav li a:hover {
  color: #333;
}

nav li.active a {
  color: #2de9a1;
  font-weight: normal;
}

nav span {
  float: left;
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}