#section2{
  background-image: url(../assets/img-noise-361x370.png);
  background-repeat: repeat;
  padding: 0 0 0 0;
  #noise{
    background: #1d1d1d;
  }
  .splat{
    top: 43%;
    position: absolute;
    left: 26%;
  }
  .child{
    .rotateMinusNinety{transform:rotate(-118deg);}
  }
  .square{
    width: 350px;
    height: 350px;
    border: 2px #2de9a1 solid;
    transform: rotate(45deg);
    top: 30%;
    left: 13%;
    position: absolute;
  }
  .big-ball-container {
    top: 65%;
    .copy-line-container{
      .lower{
        margin-top: 70px;
      }
    }
  }

  .small-ball-container {
    top: 45%;
    left: 61%;
    .small-ball {
      width: 68%;
    }
  }

  .main-text{
    padding-top: 110px;
  }
  .top-ball{
    padding-top: 82px;
  }
}