 #section4 {
    //background-image: url(/assets/slide5_bg.png);
    //padding: 6% 0 0 0;

  .square {
    width: 280px;
    height: 280px;
    border: 2px #2de9a1 solid;
    transform: rotate(45deg);
    top: 40%;
    left: 49%;
    position: absolute;
  }
  .splat {
    width: 50%;
    height: auto;
    top: 0%;
    left: 29%;
    position: absolute;
  }
  .square-outer {
    width: 280px;
    height: 280px;
    border: 1px grey solid;
    transform: rotate(45deg);
    top: 40%;
    left: 49%;
    position: absolute;
  }
  .small-ball-container {
    top: 35%;
    left: 55%;
  }

  .small-ball {
    width: 68%;
  }
  .sm-ball-offset {
    margin-left: 20.666667%
  }
  .main-text {

  }
  .top-ball {
    padding-top: 82px;
  }
  .copy {
    top: 20%;
  }
  .main {
    color: #2DE9A1;
    line-height: 30px;
    letter-spacing: 5px;
    font-size: 25px;
    font-family: 'Geomanist-Regular';
    font-weight: 400;
  }
   .copy-line-container {
     p {
       &.sub {
         color: #000;
         line-height: 18px;
         font-size: 15px;
       }
     }
   }

   .tilt {
     overflow: hidden;
     position: absolute;
     width: 100%;
     height: 100%;
     margin: 0 auto;
   }

   .tilt__back,
   .tilt__front {
     width: 100%;
     height: 100%;
     background-position: 50% 50%;
     background-repeat: no-repeat;
     background-size: cover;
     -webkit-backface-visibility: hidden;
     backface-visibility: hidden;
   }

   .tilt__back {
     position: relative;
   }

   .tilt__front {
     position: absolute;
     top: 0;
     left: 0;
   }
}