#section2 {
  background-image: url(../assets/img-noise-361x370.png);
  background-repeat: repeat;
  padding: 6% 0 0 0;
}
#section2 .splat {
  top: 43%;
  position: absolute;
  left: 26%;
}
#section2 .child .rotateMinusNinety {
  transform: rotate(-118deg);
}
#section2 .square {
  width: 350px;
  height: 350px;
  border: 2px #2de9a1 solid;
  transform: rotate(45deg);
  top: 30%;
  left: 13%;
  position: absolute;
}
#section2 .big-ball-container {
  top: 65%;
}
#section2 .small-ball-container {
  top: 45%;
  left: 61%;
}
#section2 .small-ball-container .small-ball {
  width: 68%;
}
#section2 .main-text {
  padding-top: 110px;
}
#section2 .top-ball {
  padding-top: 82px;
}
#section2 .copy {
  top: 90%;
  left: 41%;
}
#section2 .copy .sub {
  color: #FFFFFF;
  line-height: 16px;
  letter-spacing: 5px;
  font-size: 10px;
  font-family: 'Geomanist-Regular';
  font-weight: 100;
}
#section2 .copy .sub span {
  font-family: 'Geomanist-Bold';
}
