#section3 {
  background-color: #2de9a1;
  padding: 6% 0 0 0;

  .myLayer1 {
    margin-left: 23%;
  }

  .splat {
    left: 28%;
  }

  .big-ball-container {
  }

  .small-ball-container {
  }
  .small-ball {
    position: absolute;
  }
  .myLayer2 {
    top: 40%;
  }
  .main-text {
    left: 35%
  }
}