#section6outer{
  overflow: hidden;
  z-index: 2;

  #section6{
    background-image: url(../assets/03a.png);
    padding: 6% 0 0 0;
    animation-name: scaleIt;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  .splat{
    top: -2%;
    left: 23%;
  }
  .child{
    //.rotateMinusNinety{transform:rotate(-118deg);}
  }
  .small-ball{
    width: 68%;
  }
  .main-text{
    padding-top: 110px;
  }
  .top-ball{
    padding-top: 82px;
  }
  .copy{
    top: 20%;
    .main {
      color: #2DE9A1;
      line-height: 30px;
      letter-spacing: 5px;
      font-size: 25px;
      font-family: 'Geomanist-Regular';
      font-weight: 400;
    }
    .sub {
      color: #FFFFFF;
      line-height: 19px;
      letter-spacing: 5px;
      font-size: 16px;
      font-family: 'Geomanist-Regular';
      font-weight: 400;
      text-align: right;
    }
  }
}