#section3 {
  background-color: #2de9a1;
  padding: 6% 0 0 0;
}
#section3 .myLayer1 {
  margin-left: 23%;
}
#section3 .splat {
  left: 28%;
}
#section3 .small-ball {
  position: absolute;
}
#section3 .myLayer2 {
  top: 40%;
}
#section3 .main-text {
  left: 35%;
}
